--extra-index-url https://download.pytorch.org/whl/cu128

argparse
scipy
opencv-python
opencv-contrib-python
matplotlib
segmentation-models-pytorch
imageio
tqdm
tensorflow[and-cuda]
tensorboard
streamlit
plotly
# torch.utils.tensorboard
tqdm
pyyaml
imageio
imgaug
jupyter
scikit-learn
pandas
numpy==1.26.4
pycocotools
torchinfo
kornia
coloredlogs
tensorflow-addons
panopticapi @ git+https://github.com/cocodataset/panopticapi.git

